h1 {
  text-align: center;
  font-size: 40px;
  width: 97%;
  height: 70px;
  background-color: lightblue;
  top: 0;
  margin: 10px;
  padding: 10px;
}
.fernecitos {
  display: flex;
  justify-content: space-around;
}
.fernecitos h2 {
  text-align: center;
}
.fernecitos .elegido {
  width: 20%;
  height: auto;
  background-color: green;
  border-radius: 20px;
  color: black;
}
.fernecitos .no-elegido {
  width: 20%;
  height: auto;
  background-color: lightgreen;
  border-radius: 20px;
  color: grey;
}
.resultado {
  margin: 15px;
  padding: 15px;
  text-align: center;
}
.resultado .armado {
  display: flex;
  justify-content: space-around;
  margin: 15px;
  padding: 15px;
  font-size: 20px;
}
